/* $image1: "/img/HEADER.png";
$image2: "/img/roadmap.png";
$image3: "/img/wakafooter.png";
$image4: "/img/wakasapce-background.png";
$image5: "/img/wakaspace.png"; */
.s-wrap {
  width: 100%;
  padding-bottom: 42%;
  position: relative;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  /* .s-item-1 {background-image: url($image1);}
  .s-item-2 {background-image: url($image2);}
  .s-item-3 {background-image: url($image3);}
  .s-item-4 {background-image: url($image4);}
  .s-item-5 {background-image: url($image5);} */
}

.s-wrap > input {
  display: none;
}

.s-wrap .s-content {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 100%;
  font-size: 0;
  list-style: none;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.s-wrap .s-item {
  display: inline-block;
  width: 20%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.s-type-1 .s-control {
  /* position: absolute;
    bottom: 18px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%); */
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  /* z-index: 4; */
}

.s-type-1 .s-control > label[class^="s-c-"] {
  /* display: inline-block;
      width: 12px;
      height: 12px;
      margin-right: 10px;
      border-radius: 50%;
      border: 1px solid #999;
      background-color: #efefe8; */
  cursor: pointer !important;
  /* z-index: 4; */
}

.s-type-1 .s-nav label {
  display: none;
  position: absolute;
  top: 50%;
  padding: 5px 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.s-type-1 .s-nav label::before, .s-type-1 .s-nav label::after {
  content: "";
  display: block;
  width: 8px;
  height: 24px;
  background-color: #fff;
}

.s-type-1 .s-nav label::before {
  margin-bottom: -12px;
}

.s-type-1 .s-nav label.left {
  left: 20px;
}

.s-type-1 .s-nav label.left::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.s-type-1 .s-nav label.left::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.s-type-1 .s-nav label.right {
  right: 20px;
}

.s-type-1 .s-nav label.right::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.s-type-1 .s-nav label.right::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.s-type-1 #s-1:checked ~ .s-content {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.s-type-1 #s-1:checked ~ .s-control .s-c-1 {
  background-color: #b9ef20 !important;
}

.s-type-1 #s-1:checked ~ .s-nav .s-nav-1 {
  display: block;
}

.s-type-1 #s-2:checked ~ .s-content {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

.s-type-1 #s-2:checked ~ .s-control .s-c-2 {
  background-color: #b9ef20 !important;
}

.s-type-1 #s-2:checked ~ .s-nav .s-nav-2 {
  display: block;
}

.s-type-1 #s-3:checked ~ .s-content {
  -webkit-transform: translateX(-40%);
          transform: translateX(-40%);
}

.s-type-1 #s-3:checked ~ .s-control .s-c-3 {
  background-color: #b9ef20 !important;
}

.s-type-1 #s-3:checked ~ .s-nav .s-nav-3 {
  display: block;
}

.s-type-1 #s-4:checked ~ .s-content {
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
}

.s-type-1 #s-4:checked ~ .s-control .s-c-4 {
  background-color: #b9ef20 !important;
}

.s-type-1 #s-4:checked ~ .s-nav .s-nav-4 {
  display: block;
}

.s-type-1 #s-5:checked ~ .s-content {
  -webkit-transform: translateX(-80%);
          transform: translateX(-80%);
}

.s-type-1 #s-5:checked ~ .s-control .s-c-5 {
  background-color: #b9ef20 !important;
}

.s-type-1 #s-5:checked ~ .s-nav .s-nav-5 {
  display: block;
}

@-webkit-keyframes slider-animation {
  0%,
  7% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  12.5%,
  19.5% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  25%,
  32% {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
  37.5%,
  44.5% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
  50%,
  57% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
  62.5%,
  69.5% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
  75%,
  82% {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
  87.5%,
  94.5% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}

@keyframes slider-animation {
  0%,
  7% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  12.5%,
  19.5% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  25%,
  32% {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
  37.5%,
  44.5% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
  50%,
  57% {
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%);
  }
  62.5%,
  69.5% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
  75%,
  82% {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
  87.5%,
  94.5% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}
/*# sourceMappingURL=teamCarousel.css.map */